Repository NOAA-OWP/hydrovis, pull requests merged in 2025-05, with the labels that each got.

#1129 New BITS, Bridge Inundation Threat Service, layer inside QC FIM / FIM Pact service layers
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/ana_inundation/bridge_threats.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/ana_inundation_hi/bridge_threats.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/ana_inundation_prvi/bridge_threats.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/ana_past_14day_max_inundation/14day_bridge_threats.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/ana_past_14day_max_inundation/7day_bridge_threats.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/mrf_gfs_10day_max_inundation/10day_bridge_threats.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/mrf_gfs_10day_max_inundation/3day_bridge_threats.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/mrf_gfs_10day_max_inundation/5day_bridge_threats.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/mrf_nbm_10day_max_inundation/10day_bridge_threats.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/mrf_nbm_10day_max_inundation/3day_bridge_threats.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/mrf_nbm_10day_max_inundation/5day_bridge_threats.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/rfc_based_5day_max_inundation/bridge_threats.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/srf_18hr_max_inundation/bridge_threats.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/srf_48hr_max_inundation_hi/bridge_threats.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/summaries/srf_48hr_max_inundation_prvi/bridge_threats.sql
  Core/LAMBDA/viz_functions/initialize_pipeline/deploy/code/product_configs/analysis_assim/ana_inundation.yml
  Core/LAMBDA/viz_functions/initialize_pipeline/deploy/code/product_configs/analysis_assim/ana_past_14day_max_inundation.yml
  Core/LAMBDA/viz_functions/initialize_pipeline/deploy/code/product_configs/analysis_assim_hawaii/ana_inundation_hi.yml
  Core/LAMBDA/viz_functions/initialize_pipeline/deploy/code/product_configs/analysis_assim_puertorico/ana_inundation_prvi.yml
  Core/LAMBDA/viz_functions/initialize_pipeline/deploy/code/product_configs/medium_range_blend/mrf_nbm_10day_max_inundation.yml
  Core/LAMBDA/viz_functions/initialize_pipeline/deploy/code/product_configs/medium_range_mem1/mrf_gfs_10day_max_inundation.yml
  Core/LAMBDA/viz_functions/initialize_pipeline/deploy/code/product_configs/replace_route/rfc_based_5day_max_inundation.yml
  Core/LAMBDA/viz_functions/initialize_pipeline/deploy/code/product_configs/short_range/srf_18hr_max_inundation.yml
  Core/LAMBDA/viz_functions/initialize_pipeline/deploy/code/product_configs/short_range_hawaii/srf_48hr_max_inundation_hi.yml
  Core/LAMBDA/viz_functions/initialize_pipeline/deploy/code/product_configs/short_range_puertorico/srf_48hr_max_inundation_prvi.yml
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/analysis_assim/ana_inundation_extent_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/analysis_assim/ana_inundation_extent_noaa.yml
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/analysis_assim/ana_past_14day_max_inundation_extent_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/analysis_assim/ana_past_14day_max_inundation_extent_noaa.yml
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/analysis_assim_hawaii/ana_inundation_extent_hi_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/analysis_assim_hawaii/ana_inundation_extent_hi_noaa.yml
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/analysis_assim_puertorico/ana_inundation_extent_prvi_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/analysis_assim_puertorico/ana_inundation_extent_prvi_noaa.yml
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/medium_range_blend/mrf_nbm_10day_max_inundation_extent_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/medium_range_blend/mrf_nbm_10day_max_inundation_extent_noaa.yml
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/medium_range_mem1/mrf_gfs_10day_max_inundation_extent_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/medium_range_mem1/mrf_gfs_10day_max_inundation_extent_noaa.yml
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/reference/static_bridge_centroids_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/reference/static_bridge_centroids_noaa.yml
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/reference/static_hand_inundation_performance_metrics_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/reference/static_stage_based_catfim_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/replace_route/rfc_based_5day_max_inundation_extent_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/replace_route/rfc_based_5day_max_inundation_extent_noaa.yml
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/short_range/srf_18hr_max_inundation_extent_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/short_range/srf_18hr_max_inundation_extent_noaa.yml
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/short_range_hawaii/srf_48hr_max_inundation_extent_hi_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/short_range_hawaii/srf_48hr_max_inundation_extent_hi_noaa.yml
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/short_range_puertorico/srf_48hr_max_inundation_extent_prvi_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/short_range_puertorico/srf_48hr_max_inundation_extent_prvi_noaa.yml
Labels: new service

#1141 Update and renamed ras2fim boundaries service to hecras boundaries service
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/reference/static_hecras_boundaries_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/reference/static_hecras_boundaries_noaa.yml
Labels: Request

#1142 Zonal Coastal FIM Dockerized Lambda [Atlantic Gulf ANA and MRF NBM 10 Day Max Only]
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/products/analysis_assim_coastal/ana_zonal_coastal_inundation_atlgulf.sql
  Core/LAMBDA/viz_functions/db_postprocess_sql/deploy/code/products/medium_range_blend_coastal/mrf_nbm_10day_max_zonal_coastal_inundation.sql
  Core/LAMBDA/viz_functions/initialize_pipeline/deploy/code/lambda_function.py
  Core/LAMBDA/viz_functions/initialize_pipeline/deploy/code/product_configs/analysis_assim_coastal/ana_coastal_inundation.yml
  Core/LAMBDA/viz_functions/initialize_pipeline/deploy/code/product_configs/medium_range_blend_coastal/mrf_nbm_10day_max_coastal_inundation.yml
  Core/LAMBDA/viz_functions/main.tf
  Core/LAMBDA/viz_functions/output.tf
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/analysis_assim_coastal/ana_zonal_coastal_inundation_extent_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/analysis_assim_coastal/ana_zonal_coastal_inundation_extent_noaa.yml
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/medium_range_blend_coastal/mrf_nbm_10day_max_zonal_coastal_inundation_extent_noaa.mapx
  Core/LAMBDA/viz_functions/publish_service/deploy/code/services/medium_range_blend_coastal/mrf_nbm_10day_max_zonal_coastal_inundation_extent_noaa.yml
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/Dockerfile
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/code/cfimvis/__init__.py
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/code/cfimvis/code/__init__.py
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/code/cfimvis/code/bary_estimation.py
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/code/cfimvis/code/bary_interpolation.py
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/code/cfimvis/tools/__init__.py
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/code/cfimvis/tools/barrycentric.py
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/code/cfimvis/tools/format_data.py
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/code/cfimvis/tools/geometry_manipulation.py
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/code/cfimvis/tools/make_masks_duckdb.py
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/code/cfimvis/tools/mask_bounds.py
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/code/cfimvis/tools/read_schisim.py
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/code/cfimvis/tools/zonal_operations.py
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/code/lambda_function.py
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/code/zonal_fim.py
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/conda-linux-64.lock
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/deploy/environment.yml
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/main.tf
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/output.tf
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/serverless.yml.tmpl
  Core/LAMBDA/viz_functions/zonal_coastal_fim_processing/variables.tf
  Core/StepFunctions/viz/main.tf
  Core/StepFunctions/viz/processing_pipeline/main.tf
  Core/StepFunctions/viz/processing_pipeline/viz_processing_pipeline.json.tftpl
  Core/StepFunctions/viz/variables.tf
  Core/StepFunctions/viz/zonal_coastal_fim_processing/main.tf
  Core/StepFunctions/viz/zonal_coastal_fim_processing/zonal_coastal_fim_processing.json.tftpl
  Core/main.tf
  Dev/.configuration.yml.tmpl
  Dev/custom_deploy/main.tf
Labels: Priority - High, new service, Task 3
