Repository NOAA-OWP/hydrovis, pull requests merged in 2025-01, with the labels that each got.

#1026 Add Bridge Centroids Service
  Core/LAMBDA/viz_functions/viz_publish_service/services/reference/static_bridge_centroids_noaa.mapx
  Core/LAMBDA/viz_functions/viz_publish_service/services/reference/static_bridge_centroids_noaa.yml
  Core/Manual_Workflows/FIM_data_loads/hand_4_5_11_1_update.ipynb
  Source/Visualizations/aws_loosa/deploy/test.py
  Source/Visualizations/aws_loosa/pipelines/__init__.py
  Source/Visualizations/aws_loosa/products/__init__.py
  Source/Visualizations/aws_loosa/utils/10. FIM Version Update.ipynb
  Source/Visualizations/aws_loosa/utils/convert_gpkg.py
  Source/Visualizations/aws_loosa/utils/slim_hydrotables.py
Labels: new service, Data Loads

#1046 Critical Infrastructure Point Service EGIS DB Ingestion and Static Service Creation Revision
  Core/LAMBDA/viz_functions/viz_publish_service/services/reference/static_public_critical_infrastructure_points.mapx
  Core/LAMBDA/viz_functions/viz_publish_service/services/reference/static_public_critical_infrastructure_points.yml
  Core/Manual_Workflows/static_services/Critical_Infrastructure_Service.ipynb
Labels: enhancement, Priority - Medium, Task 3

#1068 Updated Subset of SQL files with Spatial Index Creation for Review/Testing
  Core/LAMBDA/viz_functions/viz_db_postprocess_sql/summaries/ana_inundation/building_footprints_fimpact.sql
  Core/LAMBDA/viz_functions/viz_db_postprocess_sql/summaries/ana_inundation_hi/building_footprints_fimpact.sql
  Core/LAMBDA/viz_functions/viz_db_postprocess_sql/summaries/ana_inundation_prvi/building_footprints_fimpact.sql
  Core/LAMBDA/viz_functions/viz_db_postprocess_sql/summaries/ana_past_14day_max_inundation/14day_building_footprints_fimpact.sql
  Core/LAMBDA/viz_functions/viz_db_postprocess_sql/summaries/ana_past_14day_max_inundation/7day_building_footprints_fimpact.sql
Labels: enhancement, Priority - Low, Task 3

#1062 Created new SRF 18HR FIMPact to Critical Infrastructure Service
  Core/LAMBDA/viz_functions/viz_db_postprocess_sql/summaries/srf_18hr_max_inundation/building_footprints_fimpact.sql
  Core/LAMBDA/viz_functions/viz_publish_service/services/short_range/srf_18hr_max_inundation_extent_noaa.mapx
  Core/LAMBDA/viz_functions/viz_publish_service/services/short_range/srf_18hr_max_inundation_extent_noaa.yml
Labels: enhancement, new service, Priority - Medium, Task 3
